.apresentacao{
    width: 100%;
    background: var(--azul-sec);
    padding: .5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-texto{
    width: 55%;
}

.apresentacao-texto h3{
    color: var(--branco);
    font-weight: 800;
    font-size: 5.8vw;
    margin-bottom: 10px;
}

.apresentacao-texto p{
    color: var(--branco);
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom: 30px;
}

.imagem-apresentacao{
    width: 40%;
}

.imagem-apresentacao img{
    width: 100%;
}

.link-solicitacao{
    color: var(--branco);
    text-decoration: none;
    border: 2px solid var(--branco);
    padding: 8px 15px;
    border-radius: 30px;
    background-color: var(--azul-principal);
    font-size: 1.4vw;
}

.link-solicitacao:hover{
    color: var(--azul-principal);
    border: 2px solid var(--azul-principal);
    background-color: var(--branco);
}

.contato{
    width: 100%;
    background: var(--azul-sec);
    padding: .5rem 4rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.form-email{
    width: 35%;
    background: var(--branco);
    border-radius: 30px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 25px;
    margin-bottom: 40px;
 }

 .form-email input{
    background: #d9d9d9;
    border: none;
    color: #a0a0a0;
    font-size: 1.6vw;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 30px;
 }

 .btn-enviar{
    align-self:end;
    color: var(--branco);
    background-color: var(--azul-principal);
    border: 2px solid var(--branco);
    border-radius: 10px;
    border: none;
    font-size: 1.4vw;
    padding: 5px 15px;
 }

 .btn-enviar:hover{
    color: var(--azul-principal);
    background-color: var(--branco);
 }

 .contato h3{
    font-size: 2vw;
    color: var(--branco);
    font-weight: 800;
    width: 30vw;
    text-align: center;
 }

 @media screen and (max-width:860px){

    .apresentacao{
      display: flex;
      flex-direction: column;
    }
    
    .apresentacao-texto{
        width: 75%;
        text-align: center;
    }

    .imagem-apresentacao{
        width: 60%;
    }
    

 }


 @media screen and (max-width:600px){

    .apresentacao{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imagem-apresentacao{
        width: 80%;
    }
    

    .apresentacao-texto{
        width: 85%;
    }
    

    .contato{
        display: flex;
        flex-direction: column-reverse;
    }

    .form-email{
            width: 70%;
            border-radius: 30px;
            padding: 40px 30px;
            gap: 15px;
            margin-top: 20px;
    }

    .form-email input{
        background: #d9d9d9;
        border: none;
        color: #a0a0a0;
        font-size: .5rem;
        font-weight: 900;
        padding: 6px 10px;
        border-radius: 30px;
     }
    }

@media screen and (max-width:470px){

    .contato h3{
        font-size: 2.2vw;
        color: var(--branco);
        font-weight: 800;
        width: 30vw;
        text-align: center;
     }

     .apresentacao-texto p{
        color: var(--branco);
        font-weight: 400;
        font-size: .8rem;
        margin-bottom: 30px;
    }

    
}
