.rodape{
    background-color: var(--azul-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: var(--branco);
}

.redes__sociais{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.redes_sociais_item{
    font-size: 1.8rem;
    color: var(--branco);
}

.fab:hover{
    color: var(--azul-sec);
}

@media screen and (max-width:600px) {
    .rodape{
    text-align: center;
    }

    .redes__sociais{
        width: 40vw;
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
    }
}